/* navigation start */
::selection {
  background-color: brown;
  color: rgb(27, 184, 27);
}

.navbar {
  background-image: linear-gradient(to right, #35B1EC, #BAD5EC, #35B1EC);
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  box-shadow: 8px 8px 8px 8px orangered;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.navbar:hover {
  box-shadow: 16px 16px 16px 16px rgb(228, 8, 8);
}

.navlogo img {
  height: 130px;
  width: 130px;
  border: solid orangered;
  border-radius: 50%;
  box-shadow: 3px 6px 9px orangered;
}

.navlogo img:hover {
  height: 135px;
  width: 135px;
  border: solid rgb(228, 8, 8);
  border-radius: 50%;
  box-shadow: 6px 12px 15px rgb(228, 8, 8);
}

.heading {
  color: black;
  font-size: 25px;
  text-shadow: 3px 3px 3px orangered;
  transition: transform 4s;
}

.heading:hover {
  color: black;
  font-size: 25px;
  text-shadow: 3px 3px 3px rgb(228, 8, 8);
  transform: rotate(360deg);
}

.nav-menu a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  border: double orangered;
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  background-color: #FFE4C4;
  box-shadow: 3px 3px 3px tomato;
  text-shadow: 2px 2px 2px orangered;
  color: black;
}

.nav-menu a:hover {
  border-color: black;
  background-color: rgb(63, 60, 60);
  color: black;
  text-shadow: 2px 2px 2px rgb(228, 8, 8);
  box-shadow: 4px 4px 4px rgb(228, 8, 8);
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}

/* navigation end */

/* profile start */

.profile {
  background-image: linear-gradient(to right, bisque, white, bisque);
  padding: 50px 20px;
  margin-top: 5px;
  text-align: center;
  position: relative;

}

.profile .top {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 60px;
  top: 30px;
  transition: transform 5s;
}

.profile .top:hover {
  transform: rotate(360deg);
}

.profile .buttom {

  height: 100px;
  width: 100px;
  position: absolute;
  left: 60px;
  bottom: 30px;
  transition: transform 5s;
}

.profile .buttom:hover {
  transform: rotate(360deg);
}

.profile-des {
  color: black;

  text-shadow: 2px 2px 2px rgb(228, 8, 8);
  margin-bottom: 0;
}

.profile-des p {
  font-size: 20px;
  font-weight: bold;
  text-shadow: none;
  font-family: 'satisfy', cursive;
}

.profile-des h1 {
  font-family: 'satisfy', cursive;
  font-size: 55px;

}

@media only screen and (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;
  }

  .profile .top {
    height: 50px;
    width: 50px;
  }

  .profile .buttom {
    height: 50px;
    width: 50px;
    left: 5px;
  }
}


/* profile end */

/* about me start */

.about-me {
  padding: 20px;
  background-image: linear-gradient(to right, bisque, white, bisque);
}

.about-me h1 {
  text-align: center;
  color: black;
  font-size: 45px;
  text-shadow: 2px 2px 2px rgb(228, 8, 8);
  font-family: 'satisfy', cursive;
}

.dotted-hr {
  border: 6px dotted darkred;
  border-bottom: none;
  width: 180px;
  margin: 20px auto;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;

}

.about-me-img {
  width: 50%;
  text-align: center;
}

.about-me-img img {

  width: 220px;
  height: 220px;
  border: 6px solid black;
  box-shadow: 4px 4px 4px rgb(228, 8, 8);
  border-radius: 15px;
  transition: transform 4s;

}

.about-me-img img:hover {
  transform: rotate(360deg);
  transition-timing-function: ease-in-out;
}

.about-me-des {
  width: 50%;
}

.about-me-des>p {
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: 'satisfy', cursive;
}

.about-me-des>p>a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: 'satisfy', cursive;
}

.des-hr {
  border-bottom: 3px solid darkred;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}


/* about me end */

/* card design start */

.card-design {
  padding: 30px 0px;
  background-image: linear-gradient(to right, bisque, white, bisque);
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}

.experince-2 {
  width: 450px;
  height: 700px;
  border: 5px solid #8B0000;
  background-image: linear-gradient(to right, #35B1EC, #BAD5EC, #35B1EC);
  box-shadow: 0px 10px 10px 10px #664747;
  border-radius: 20px;
  font-family: 'satisfy', cursive;
  text-align: center;


}

.experince-2:hover {
  box-shadow: 0px 10px 10px 10px tomato;
}

.img-c-2 {
  margin-top: 20px;
}

.img-c-2 img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #8B0000;
  display: block;
  margin: 0 auto;

}

.h1-c-2 {
  margin-top: 20px;
}

.h1-c-2 h1 {
  border-radius: 15px;
  width: 95%;
  margin: 0 auto;
  background-image: radial-gradient(circle, darkred, bisque, darkred);
  color: wheat;
  text-align: center;
}

.experince-2 h2 {
  font-size: 20px;
  text-shadow: 1px 1px 1px darkred;
}

.experince-2 p {
  font-size: 15px;
  text-shadow: 1px 1px 1px darkred;
}

.experince-2 p a {
  font-size: 18px;
  text-shadow: 1px 1px 1px darkred;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.edu-hr {
  border-bottom: 3px solid darkred;
  width: 90%;
}

.experince {
  width: 450px;
  height: 700px;
  border: 5px solid #8B0000;
  background-image: linear-gradient(to right, #35B1EC, #BAD5EC, #35B1EC);
  box-shadow: 0px 10px 10px 10px #664747;
  border-radius: 20px;

}

.experince:hover {
  box-shadow: 0px 10px 10px 10px tomato;
}

.img-c {
  margin-top: 20px;
}

.img-c img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #8B0000;
  display: block;
  margin: 0 auto;

}

.h1-c {
  margin-top: 20px;
}

.h1-c h1 {
  border-radius: 15px;
  width: 95%;
  margin: 0 auto;
  background-image: radial-gradient(circle, darkred, bisque, darkred);
  color: wheat;
  text-align: center;
}

.ex-c ul li {
  font-family: 'satisfy', cursive;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px darkred;
  list-style-type: none;
  margin-bottom: 50px;
  position: relative;
}

.ex-c ul li::before {
  content: " ";
  width: 90%;
  height: 25px;
  left: 0;
  position: absolute;
  top: calc(100% + 5px);
  background-color: #C36E5F;
  border-radius: 15px;
}

.ex-c ul li::after {
  content: " ";
  width: 0;
  height: 25px;
  left: 0;
  position: absolute;
  top: calc(100% + 5px);
  background-color: #C36E5F;
  border-radius: 5px;
  /* animation-duration: 5s; */
  /* animation-delay: 2s; */
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.ex-c ul li.email::after {
  animation-name: email;
}

@keyframes email {
  from {
    width: 0%;
    background-color: #d86a57;
  }

  to {
    width: 90%;
    background-color: #dd2b0b;
  }
}

.ex-c ul li.data::after {
  animation-name: data;
}

@keyframes data {
  from {
    width: 0%;
    background-color: #b94b37;
  }

  to {
    width: 85%;
    background-color: #6e1505;
  }
}

.ex-c ul li.digital::after {
  animation-name: digital;
}

@keyframes digital {
  from {
    width: 0%;
    background-color: rgb(238, 82, 82);
  }

  to {
    width: 80%;
    background-color: rgb(167, 7, 7);
  }
}

.ex-c ul li.html::after {
  animation-name: html;
}

@keyframes html {
  from {
    width: 0%;
    background-color: rgb(92, 44, 44);
  }

  to {
    width: 88%;
    background-color: darkred;
  }
}

.ex-c ul li.css::after {
  animation-name: css;
}

@keyframes css {
  from {
    width: 0%;
    background-color: rgb(97, 22, 22);
  }

  to {
    width: 80%;
    background-color: maroon;
  }
}

.ex-c ul li.word::after {
  animation-name: word;
}

@keyframes word {
  from {
    width: 0%;
    background-color: rgb(158, 37, 37);
  }

  to {
    width: 40%;
    background-color: rgb(168, 0, 0);
  }
}

@media only screen and (max-width: 768px) {
  .card-design {
    flex-direction: column;

  }
}


/* card design end */

/* contact start */

.container-2 {
  padding: 20px;
  background-image: linear-gradient(to right, #35B1EC, #BAD5EC, #35B1EC);
  display: flex;
  justify-content: space-between;

  padding-left: 150px;
  padding-right: 150px;


}


.cnt-form h1 {
  text-align: center;
  font-family: 'satisfy', cursive;
  font-weight: bold;
  text-shadow: 1px 1px 1px darkred;
}

#name {
  width: 350px;
  height: 40px;
  text-align: center;
  border-radius: 15px;
  border: 3px solid rgb(168, 0, 0);
  font-family: 'satisfy', cursive;
  font-size: 20px;
  font-weight: bold;
}

#email {
  width: 350px;
  height: 40px;
  text-align: center;
  border-radius: 15px;
  border: 3px solid rgb(168, 0, 0);
  font-family: 'satisfy', cursive;
  font-size: 20px;
  font-weight: bold;
}

#textarea {
  resize: none;
  width: 350px;
  height: 350px;
  text-align: center;
  padding-top: 10px;
  border-radius: 15px;
  border: 3px solid rgb(168, 0, 0);
  font-family: 'satisfy', cursive;
  font-size: 20px;
  font-weight: bold;

}

.btn {
  display: flex;
  justify-content: space-around;
}

#send {
  width: 150px;
  height: 40px;
  font-weight: bold;
  font-family: 'satisfy', cursive;
  background-image: radial-gradient(circle, darkred, bisque, darkred);
  border-radius: 10px;
  color: #F5DEB3;
  border: 2px solid black;
}

#reset {
  width: 150px;
  height: 40px;
  font-weight: bold;
  font-family: 'satisfy', cursive;
  background-image: radial-gradient(circle, darkred, bisque, darkred);
  border-radius: 10px;
  color: #F5DEB3;
  border: 2px solid black;
}

.ibuton {
  text-align: center;
}

.ibuton h1 {
  text-align: center;
  font-family: 'satisfy', cursive;
  font-weight: bold;
  text-shadow: 1px 1px 1px darkred;

}

.ssm {
  margin-top: 100px;
}

.scl button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  margin: 20px;
  cursor: pointer;
}

.about-me-img-2 img {
  margin-top: 200px;
  width: 280px;
  height: 280px;
  border: 6px solid darkred;
  box-shadow: 0px 8px 8px 8px rgb(61, 60, 60);
  border-radius: 15px;

}

/* contact end */


footer {
  background-color: rgb(29, 28, 28);
  text-align: center;
  padding: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #8B0000;
  text-shadow: 2px 2px 2px rgb(163, 111, 111);
  font-size: 25px;
  font-weight: bold;
  font-family: 'satisfy', cursive;
}